# Node.js dependencies
/node_modules/

# Build output
/dist/
/build/
/coverage/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
logs/



# npm package lock
/package-lock.json
/yarn.lock

# IDE files
.idea/
.vscode/

# Mac-specific files
*.swp
*.swo
*~
node_modules/
